@media(max-device-width:425px) {
    .navbar-brand {
        font-size: 8vw;
    }
    .nav-login{
        width: fit-content;
            height: fit-content;
        font-size: 4vw;
        border-radius: 15px;
    }
    .nav-signup{
        width: fit-content;
            height: fit-content;
        font-size: 4vw;
        border-radius: 15px;
    }
}

