.header{
    text-align: center;
}
i{
    cursor: pointer;
}

.loginform{
    margin-left: 420px;
}

.subbt{
        padding: 6px 112px;
        font-weight: 600;
}

.addbtn {
    position: fixed;
    bottom: 2px;
    right: 5px;
}